/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4faf7;
  color: #373d20;
}

header {
  background-color: #373d20;
  color: #fefefe;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 2.5em;
}

nav a {
  color: #fefefe;
  margin: 0 10px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

.hero {
  background-color: #717744;
  color: #fefefe;
  text-align: center;
  padding: 60px 20px;
}

.hero h2 {
  font-size: 2em;
  margin: 0;
}

.hero p {
  margin: 20px 0;
}

.hero a {
  background-color: #abac7f;
  color: #373d20;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.hero a:hover {
  background-color: #717744;
  color: #fefefe;
}

.highlights {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: #f4fffb;
}

.highlight {
  background-color: #fefefe;
  border-radius: 5px;
  padding: 20px;
  width: 30%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.highlight img {
  max-width: 50px;
}

.highlight h3 {
  margin: 10px 0;
}

.highlight p {
  margin: 10px 0;
}

/* Footer styles */
footer {
  background-color: #080808;
  color: #fefefe;
  text-align: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
}

/* Products page styles */
.search-controls {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.search-controls label,
.search-controls select {
  margin: 0 10px;
}

#productsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  background-color: #fefefe;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 10px;
  padding: 20px;
  width: 30%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.product img {
  max-width: 100%;
  height: auto;
}

.product h3 {
  font-size: 1.2em;
  margin: 10px 0;
}

.product p {
  margin: 10px 0;
}

.product a {
  background-color: #abac7f;
  color: #373d20;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.product a:hover {
  background-color: #717744;
  color: #fefefe;
}

/* Details page styles */
#productDetails {
  text-align: center;
  padding: 20px;
}

#productDetails img {
  max-width: 200px;
  margin: 20px 0;
}

#productDetails h2 {
  font-size: 2em;
  margin: 20px 0;
}

#productDetails p {
  margin: 10px 0;
}

#productDetails a {
  background-color: #abac7f;
  color: #373d20;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

#productDetails a:hover {
  background-color: #717744;
  color: #fefefe;
}
